<div id="level-header">
  <h1>{{ level.title }}</h1>
</div>
<game-view></game-view>

<div id="level-metadata">
  <user-minicard class="pull-right" user="user" creator="creator"></user-minicard>
  <div class="metadata">
    <p><span class="label">Total Stars:</span> {{ level.starCount }}</p>
    <p><span class="label">Date Created:</span> {{ level.dateCreated | date }}</p>
  </div>
  <div class="controls">
    <a class="btn btn-star" href="#" ng-show="!liked && !pending" ng-click="starLevel()"><span class="glyphicon glyphicon-star"></span> Star</a>
    <a class="btn btn-disabled" ng-show="!liked && pending"><span class="glyphicon glyphicon-time"></span> Starring</a>
    <a class="btn btn-star" href="#" ng-show="liked && !pending" ng-click="unstarLevel()"><span class="glyphicon glyphicon-star-empty"></span> Unstar</a>
    <a class="btn btn-disabled" ng-show="liked && pending"><span class="glyphicon glyphicon-time"></span> Unstarring</a>
    <a class="btn btn-create" ng-click='edit()'>New From Level</a>
  </div>
</div>
