<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Gus. Girders. What more could you want?</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/slick-carousel/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/slick-carousel/slick/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/main.js"></script>
</head>
<body ng-app="FullstackGeneratedApp" ng-class="{home: $state.includes('home')}">
    <gg-header></gg-header>
    <!-- <pre id='arr'></pre> -->
    <div id="main" class='container' ui-view></div>
</body>
</html>
