<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{{projectId}} | Dropship</title>
		<link href="/styles/project.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<div class="loading">loading</div>
		
		<div class="project" style="display: none">
			<button id="deployButton"></button>
			
			<div class="details">
				<div class="build">
					<span class="time">
						built
						<span class="value" title="" data-millis=""></span>
					</span>

					<span class="author">
						by
						<span class="value"></span>
					</span>

					<a class="message" target="gitlab" title="View commit"></a>
				</div>

				<div class="log">
					<!--<div class="complete">deploying catalyst</div>
		            <div class="complete">download storm</div>
		            <div class="complete">predeploy storm</div>
		            <div class="complete">upload storm</div>
		            <div class="complete">postdeploy storm</div>
		            <div class="complete">download sleepercell</div>
		            <div class="complete">predeploy sleepercell</div>
		            <div class="complete">upload sleepercell</div>-->
		            <!--<div class="complete">postdeploy sleepercell</div>
		            <div class="progress">download storm-docs</div>
		            <div class="error">predeploy storm-docs</div>logEl
		            <div class="start">upload storm-docs</div>
		            <div class="complete all">postdeploy storm-docs</div>-->
				</div>
			</div>

			<a href="" class="reload">reload</a>
		</div>

		<script src="/scripts/lib/momentjs/min/moment.min.js"></script>
		<script src="/scripts/lib/mediator-js/mediator.min.js"></script>
		<script src="/scripts/lib/lodash/dist/lodash.min.js"></script>
		<script src="/scripts/lib/backbone/backbone-min.js"></script>
		<script src="/scripts/lib/jquery/jquery.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script>
			window.projectId = "{{projectId}}";
		</script>
		<script src="/scripts/main.js"></script>
	</body>
</html>