<header>
  <a ui-sref="home" id='company-title'><img src='/images/gus.png' id='logo' /></a>
  <div>
    <a ui-sref="home" id='company-title'>Girder Gus</a>

    <nav>
      <ul>
        <li ng-repeat='item in menuItems'><a ng-click='stateChange(item.state)'>{{item.title}}</a></li>
      </ul>
    </nav>
  </div>

  <div>
    <a ng-href='/auth/google' ng-hide='user' id='login'>Log in with Google</a>
    <p ng-show='user'>Hello, {{ user.name }}.
    <a href='#' ng-click='stateChange("profile")'>Your Profile</a>
    <a id='logout' ng-click='logout()'>Logout</a></p>
	<div ng-show = 'promptUser && !user'>
		<p class='danger'>You need to sign in to access that feature!</p>
	</div>
  </div>

</header>
